*{
    margin: 0;
    padding: 0;
}

body {
    font-size: clamp(1.5rem, 4vw, 4rem);
    background: #F1F1F1;
    color: black;
    line-height: 1.8;
    font-family: none;
    
}

.loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #343642;
    transition: opacity 0.55s, visibility 0.55s;
}

.loader-hidden{
    opacity: 0;
    visibility: hidden;
    display: none;    
}

.loader::after{
    content: "";
    width: 65px;
    height: 65px;
    border: 8px solid white;
    border-top-color: #FF7400;
    border-radius: 100%;
    animation: loading 0.55s ease infinite;
}

@keyframes loading {
    
    from{
        transform: rotate(0turn);
    }
    
    to{
        transform: rotate(1turn);
    }
    
}

.logo{
    color: blue;
    font-size: clamp(1.1rem, 4.3vw, 4.3rem);
    font-weight: bold;
    font-weight: bold;
    margin-top: 1%;
    margin-left: 4%;
    text-decoration: none;
    cursor: none;

}

.heading{
    font-size: clamp(1.7rem, 4vw, 4rem);
    text-align: center;
    margin-top: 6%;
    margin-bottom: 5%;
    text-align: center;
    
}

.heading3{
    box-shadow: 20px 20px 20px rgba(0.1, 0.1, 0.1, 0.1);
    font-size: clamp(4rem, 8vw, 8rem);
    color: red;
    text-align: center;
    margin-top: 6%;
    margin-bottom: 5%;
    border-radius: 1vh;
    margin-left: 7%;
    margin-right: 7%;
    text-align: center;
    padding: 2%;
    
}

.heading4{
    
    font-size: clamp(2rem, 6vw, 6rem);
    text-align: center;
    margin-top: 6%;
    margin-bottom: 5%;
    text-align: center;
    color: red;
} 


.heading2{
    
    font-size: clamp(1.5rem, 5vw, 5rem);
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 6%;
    margin-bottom: 5%;
    text-align: center;
    
}


.form-div{
    
    margin-top: 5%;
    margin-bottom: 5%;
    
}


.contact-info{
    display: flex;
    margin: auto;
    width: 70%;
    text-decoration: none;
    padding: 6%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 1vh;
    border: 0.2vh solid #D8D8D8;
    font-size: clamp(1rem, 4vw, 4rem);
    outline: none;
    
}

.contact-info:hover{
    
    border: 0.2vh solid #00FF2E;
    
}


.textarea{
    display: flex;
    margin: auto;
    width: 60%;
    height: 12vh;
    text-decoration: none;
    padding: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 2vh;
    outline: none;
    border: 0.2vh solid #D8D8D8;
    font-size: clamp(1rem, 4vw, 4rem);
    
    
}

.textarea:hover{
    
    border: 0.2vh solid #00FF2E;
    
}

.submit:hover{
    
    color: #074609;
    background: linear-gradient(10deg, #34FF00, #0FFF16, #5AC90B);
    
}


.submit{
   text-decoration: none;
    margin-top: 3%;
    margin-bottom: 6%;
    margin-left: 2%;
    font-size: clamp(1rem, 4vw, 4rem);
    background: linear-gradient(10deg, #34FF00, #0D9F11, #5AC90B);
    padding: 4%;
    border-radius: 1vh;
    display: flex;
    margin: auto;
    width: 60%;
    border: none;
    justify-content: center;
    cursor: pointer;
    color: white;
    font-weight: bold;    
    
}


.ok-btn{
    text-decoration: none;
    margin-top: 2%;
    margin-bottom: 6%;
    margin-left: 2%;
    font-size: clamp(1rem, 4vw, 4rem);
    background: #02EC59;
    padding: 4%;
    border-radius: 1vh;
    display: flex;
    margin: auto;
    width: 40%;
    border: none;
    justify-content: center;
    cursor: pointer;
    color: #000;
    font-weight: bold;  
    
}



.link{
    
    text-decoration: none;
    color: #142BBF;
    border-bottom: 0.1vh solid #142BBF;

    
}

.link:hover{
    
    color: #1C0D6A;
    
    
}


.alert-paragraph{
    font-size: clamp(1rem, 3.5vw, 3.5rem);
    font-family: none;
    margin-left: 9%;
    margin-right: 9%;
}

.alert-paragraph2{
    font-size: clamp(0.8rem, 2vw, 2rem);
    margin-top: 4%;
    font-family: none;
    margin-left: 9%;
    margin-right: 9%;
    color: #47474D; 
    
}
.background-alert{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background: rgba(0.6, 0.6, 0.6, 0.6);
    display: none;
}
.alert-box{
    box-shadow: 4px 4px 8px rgba(0, 1, 1, 1);
    background: #FFFFFF;
    position: absolute;
    top: 15%;
    left: 10%;
    right: 10%;
    padding: 3%;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 1.5vh;
}
.logodiv{
    position: sticky; top: 0;
    padding: 2%;
    border-bottom: 1px solid #979797;
    background: white;
    
}

.flex-logodiv{
    display: flex;
    justify-content: space-between;
    
}


.logo2{
    font-weight: bold;
    color: blue;
    font-size: clamp(0.6rem, 3.6vw, 3.6rem);
     

}

.nav-btn{
    text-decoration: none;
    margin-left: 6%;
    color: white;
    border-radius: 5vh;
    background: #FF7400;
    border: none;
    font-weight: bolder;
    margin-right: 5%;
    width: 13%;
    cursor: pointer;
    font-size: clamp(1.5rem, 3vw, 3rem);
    padding: 1%;
}

.li{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.content-btn{
    
    font-size: clamp(1rem, 4vw, 4rem);
    font-family: none;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  padding: 6%;
  width: 88%;
  display: flex;
  border-top: 1.2px solid #C7C7C7;
  border-bottom: 1.2px solid #C7C7C7;
    
}


.content-btn2{
    
    font-size: clamp(1rem, 4vw, 4rem);
    font-family: none;
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 6%;
  width: 88%;
  display: flex;
  border-top: 2.2px solid #C7C7C7;
  border-bottom: 1.2px solid #C7C7C7;
    
}

.content-btn3:hover{
    
    background: #E7E7E7;
    
}

.content-btn:hover{
    
    background: #E7E7E7;
    
}

.content-btn2:hover{
    
    background: #E7E7E7;
    
}




.content-btn3{
    
    font-size: clamp(1rem, 4vw, 4rem);
    font-family: none;
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 6%;
  width: 88%;
  display: flex;
  border-top: 1.2px solid #C7C7C7;
  border-bottom: 2.2px solid #C7C7C7;
    
}

.download-image{
    background: none;
    margin-left: 15%;
    margin-bottom: 4%;
    font-size: clamp(3rem, 5vw, 5rem);
    border: none;
    margin-bottom: 4%;
    color: red;
    font-weight: bold;
}
.download-image2{
    width: 9%;
    padding: 2%;
    margin-top: 4%;
    margin-bottom: 4%;
}
.li3{
    font-size: clamp(1rem, 4vw, 4rem);
    margin-left: 12%;
    margin-right: 9%;
    font-family: none;
    margin-top: 5%;
    margin-bottom: 3%;
}
.div{
   display: none;
   position: absolute;
   width: 48%;
   right: 0;
   top: 5%;
   height: 100vh;
   overflow-y: auto;
   background: white;
   padding: 1%;
   border-right: 1px solid #979797;
}

.hide-nav{
    text-decoration: none;
    margin-top: 3%;
    margin-bottom: 4%;
    padding: 3%;
    left: 0;
    font-size: clamp(1rem, 4vw, 4rem);
    border: none;
    border-radius: 1.2vh;
    background: none;
    width: 40%;
    cursor: pointer;
    color: white;
    font-weight: bold;
}
.next-page{
    text-align: center;
    font-size: clamp(1rem, 4vw, 4rem);
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin-top: 10%;
    margin-bottom: 5%;
    color: #FF0000;
}


.get-btn{
    display: flex;
    margin: auto;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 3%;
    padding: 3%;
    text-decoration: none;
    font-size: clamp(1rem, 4vw, 4rem);
    width: 70%;
    background: white;
    color: black;
    font-weight: bold;
    border-radius: 1.4vh; 
    
}

.get-btn:hover{
    color: black;
    background: none;
    border: 0.2vh solid white;
}



.next-page-btn{
    margin-left: 2%;
    margin-top: 4%;
    text-decoration: none;
    border: 0.1rem solid #000DFF;
    font-size: clamp(1rem, 4vw, 4rem);
    font-family: none;
    color: #000;
    font-weight: bold;
    text-align: center;
    padding: 2%;
    border-radius: 1.5vh;
    width: 35%;
    box-shadow: 10px 10px 10px rgba(0.2, 0.2, 0.2, 0.2);
}

.next-page-btn:hover{
   
    border: 0.1rem solid #091057;
    color: #2900FF;
    
}

.next-page-btn2:hover{
      
    border: 0.1rem solid #710606;
    color: #FF0000;
}

.next-page-btn3:hover{
   
    border: 0.1rem solid #091057;
    color: #2900FF;
    
}

.next-page-btn4:hover{
      
    border: 0.1rem solid #710606;
    color: #FF0000;
}



.next-page-btn3{
    
    margin-top: 4%;
    text-decoration: none;
    border: 0.1rem solid #000DFF;
    font-size: clamp(1rem, 4vw, 4rem);
    font-family: none;
    color: #000;
    font-weight: bold;
    text-align: center;
    padding: 2%;
    border-radius: 1.5vh;
    width: 35%;
    box-shadow: 10px 10px 10px rgba(0.2, 0.2, 0.2, 0.2);
    
}



.next-page-btn4{
    
    margin-top: 4%;
    text-decoration: none;
    border: 0.1rem solid #FF0000;
    font-size: clamp(1rem, 4vw, 4rem);
    font-family: none;
    color: #000;
    font-weight: bold;
    text-align: center;
    padding: 2%;
    border-radius: 1.5vh;
    width: 35%;
    box-shadow: 10px 10px 10px rgba(0.2, 0.2, 0.2, 0.2);
    
}

.next-page-btn2{
    margin-right: 2%;
    margin-top: 4%;
    text-decoration: none;
    border: 0.1rem solid #FF0000;
    font-size: clamp(1rem, 4vw, 4rem);
    font-family: none;
    color: #000;
    font-weight: bold;
    text-align: center;
    padding: 2%;
    border-radius: 1.5vh;
    width: 35%;
    box-shadow: 10px 10px 10px rgba(0.2, 0.2, 0.2, 0.2);
    
}

.next-page-div{
    display: flex;
    margin: auto;
    justify-content: center;
}

.about-paragraph{
    font-size: clamp(0.8rem, 3.5vw, 3.5rem);
    margin-top: 2%;
    margin-bottom: 2%;
    color: #3E3E3E;
    margin-left: 4%;
    font-family: none;
}

.about-paragraph2{
    font-size: clamp(1rem, 4vw, 4rem);
    margin-top: 6%;
    margin-bottom: 2%;
    color: #09F9EC;
    margin-left: 3.5%;
    font-family: none;
}


.download-btn{
    font-size: clamp(1rem, 4vw, 4rem);
    display: flex;
    box-shadow: 10px 10px 10px rgba(0.2, 0.2, 0.2, 0.2);
    width: 70%;
    margin: auto;
    font-weight: bold;
    color: white;
    border-radius: 0.8vh;
    margin-bottom: 2%;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    font-family: none;
    background: #062DC4;
    padding: 3%;
}
.download-btn:hover{
    background: #08195C;
    
}

.download-btn2{
    font-size: clamp(1rem, 4vw, 4rem);
    display: flex;
    box-shadow: 10px 10px 10px rgba(0.2, 0.2, 0.2, 0.2);
    width: 70%;
    margin: auto;
    font-weight: bold;
    color: white;
    border-radius: 0.8vh;
    margin-bottom: 2%;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    font-family: none;
    background: linear-gradient(10deg, #34FF00, #27AE04, #5AC90B);
    padding: 3%;
}
.download-btn2:hover{
    background: linear-gradient(10deg, #4BAE04, #337206, #1F4007);
    color: #70FF0A;
    
}

.image{
    
    width: 60%;
    height: 30%;
    border-radius: 1vh;
    display: flex;
    margin: auto;
    
}

.footer-div{
    
    background: #0E0430;
    padding: 6%;
    
}

.image-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.image-1{
    display: flex;
    width: 18%;
    height: 18%;
    margin-left: 60%;
}
.image-2{
    width: 25%;
    height: 28%;
    margin-left: 20%;
}

.button2{
   box-shadow: 10px 10px 10px rgba(0.2, 0.2, 0.2, 0.2);
    text-decoration: none;
    display: flex;
    margin: auto;
    padding: 4%;
    width: 75%;
    justify-content: center;
    background: linear-gradient(10deg, #34FF00, #27AE04, #5AC90B);
    font-size: clamp(1.1rem, 4.1vw, 4.1rem);
    font-weight: bold;
    font-family: none;
    color: white;
    border-radius: 1vh;
}
.button:hover{
    color: #55FF00;
}
.button{
   box-shadow: 10px 10px 10px rgba(0.2, 0.2, 0.2, 0.2);
    text-decoration: none;
    display: flex;
    margin-left: 8%;
    margin-top: 6%;
    margin-bottom: 6%;
    padding: 4%;
    width: 40%;
    justify-content: center;
    background: linear-gradient(10deg, #34FF00, #27AE04, #5AC90B);
    font-size: clamp(1.1rem, 4.1vw, 4.1rem);
    font-weight: bold;
    font-family: none;
    color: white;
    border-radius: 1vh;
}


.footer-btn{
    justify-content: center;
    text-decoration: none;
    color: #02FF65;
    font-family: none;
    display: flex;
    margin: auto;
    font-size: clamp(1rem, 4vw, 4rem); 
    padding: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
    font-weight: bold;
}


.footer-paragraph{
    margin-top: 9%;
    color: white;
    text-align: center;
    font-family: none;
    font-size: clamp(1.2rem, 4vw, 4rem); 
}


.flex-footer-btn{
    
    justify-content: center;
    text-decoration: none;
    color: #02FF65;
    font-family: none;
    display: flex;
    margin: auto;
    font-size: clamp(1rem, 4vw, 4rem); 
    padding: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
    font-weight: bold;

}



.paragraph{
    
    font-size: clamp(1rem, 3.5vw, 3.5rem); 
    text-align: center;
    margin-left: 9%;
    margin-right: 9%;
    
}

.titleparagraph{
    font-size: 1.5rem;
    text-align: center;
    text-align: center;
    margin-top: 3%;
    color:  black;
    margin-bottom: 3%;
    margin-left: 8%;
    margin-right: 8%;
    font-weight: bold;
}

.titleparagraph2{
    font-size: clamp(1.4rem, 4vw, 4rem);
    text-align: center;
    margin-top: 3%;
    color: #0F0E9E;
    margin-bottom: 3%;
    border-radius: 1.5vh;
    padding: 1%;
    margin-left: 5%;
    margin-right: 5%;
}

.content-div{
    text-align: center;
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 4%;
    background: white;
    border-radius: 1.5vh;
    border: 0.1vh solid #CECECE;
    box-shadow: 10px 10px 10px rgba(0.2, 0.2, 0.2, 0.2);
    
}

.blog-div{
    
    box-shadow: 10px 10px 10px rgba(0.4, 0.4, 0.4, 0.4);
    background: #070D4E;
    color: white;
    margin-left: 5%;
    padding: 8%;
    height: 70%;
    border-radius: 1vh;
    margin-right: 5%;
    margin-top: 8%;
    font-size: clamp(1.2rem, 4.2vw, 4.2rem);
}

.read-btn{
    font-size: clamp(1rem, 4vw, 4rem);
    display: flex;
    margin: auto;
    text-decoration: none;
    background: #0816AE;
    color: white;
    padding: 6%;
    width: 60%;
    justify-content: center;
    font-family: none;
    margin-top: 10%;
    border-radius: 1vh;
    box-shadow: 10px 10px 10px rgba(0.5, 0.5, 0.5, 0.5);
}

.content-div2{
    text-align: center;
    margin-bottom: 5%;
    padding: 4%;
    border-radius: 2vh;
    text-align: center;
    background: #FC5D00;
    margin-left: 3%;
    margin-right: 3%;
    color: white;
    margin-top: 4%;
}    

.instrumental-div{
    margin-top: 3%;
    margin-left: 4%;
    margin-right:  4%;
    border-radius: 2.3vh;
    margin-bottom: 3%;
    background: #FFFFFF;
    padding: 2%;
    aspect-ratio: 16 / 9;
}

.paragraphpolicy{
   font-size: clamp(1rem, 4vw, 4rem);
   font-family: none;
   margin-left: 7%;
   margin-right: 9%;
   text-align: center;
}

.paragraph404{
   font-size: clamp(1.5rem, 5vw, 5rem);
   font-family: none;
   color: #4C4C51;
   margin-left: 10%;
   margin-right: 10%;
   text-align: center;
    
}

.content2{
    font-size: clamp(1rem, 4vw, 4rem);
    font-family: none;
    text-decoration: none;
    color: #0731A6;
    border-bottom: 1px solid #0731A6;
}

.li2{
    
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 10%;
    margin-right: 10%;
    
    
}

.paragraphpolicy2{
   
   font-size: clamp(0.9rem, 3vw, 3rem);
   font-family: none;
   text-align: center;
   margin-left: 6%;
   margin-right: 9%;
   margin-top: 2%;
   margin-bottom: 1%;
   color: #363636;
    
}

.title-beat{
    margin-right: 30%;
    margin-left: 2%;
    margin-bottom: 3%;
    font-size: clamp(1rem, 3vw, 3rem);
    font-weight: bold;
    color: blue;
    
}

.youtube-video{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 2%;
    width: 90%;
    height: 90%;
}
.views{
    font-size: clamp(0.8rem, 3.8vw, 3.8rem);
    margin-left: 3%;
    color: #0008A2;
    border: 0.2vh solid #0029FF;
    padding: 1.8%;
    border-radius: 2vh;
    font-weight: bold;
    font-family: none;
    margin-bottom: 2%;
}
.likes{
    font-size: clamp(0.8rem, 3.8vw, 3.8rem);
    margin-left: 3%;
    color: #0008A2;
    border: 0.2vh solid #0029FF;
    padding: 1.8%;
    border-radius: 2vh;
    font-weight: bold;
    font-family: none;
    margin-bottom: 2%;
}
.about-instrumental{
    margin-top: 3%;
    display: flex;
    padding: 3%;
}
.play-beat{
    font-size: clamp(1rem, 3.5vw, 3.5rem);
    box-shadow: 7px 7px 7px rgba(0.2, 0.2, 0.2, 0.2);
    display: flex;
    width: 40%;
    color: white;
    border-radius: 0.8vh;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 3%;
    margin-left: 4%;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    font-family: none;
    background: linear-gradient(10deg, #1307E6D1, #1E00FFD1, #1F12FAD1);
    padding: 2%;
    
}


.play-beat:hover{
    
    background-color: #0D1891;
    color: #CCCCCC;
}

/* COPY THIS CODE ON YOUR FINAL WEBSITES  */
  
@media (min-width: 992px) {
.about-paragraph2{
    font-size: 55%;
    margin-top: 6%;
    margin-bottom: 2%;
    color: #09F9EC;
    margin-left: 3.5%;
    font-family: none;
}

.loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #343642;
    transition: opacity 0.55s, visibility 0.55s;
}

.loader-hidden{
    opacity: 0;
    visibility: hidden;
    display: none;
    
}

.loader::after{
    content: "";
    width: 80px;
    height: 80px;
    border: 12px solid white;
    border-top-color: #FF7400;
    border-radius: 100%;
    animation: loading 0.55s ease infinite;
}

@keyframes loading {
    
    from{
        transform: rotate(0turn);
    }
    
    to{
        transform: rotate(1turn);
    }
    
}


.button2{
    box-shadow: 10px 10px 10px rgba(0.2, 0.2, 0.2, 0.2);
     text-decoration: none;
     display: flex;
     margin: auto;
     padding: 3%;
     width: 55%;
     justify-content: center;
     background: linear-gradient(10deg, #34FF00, #27AE04, #5AC90B);
     font-size: 1.3rem;
     font-weight: bold;
     font-family: none;
     color: white;
     border-radius: 1vh;
 }


.contact-info{
    display: flex;
    margin: auto;
    width: 40%;
    text-decoration: none;
    padding: 3%;
    border-radius: 1vh;
    border: 0.2vh solid #D8D8D8;
    font-size: 1.5rem;
    outline: none;
    
}

.contact-info:hover{
    
    border: 0.2vh solid #00FF2E;
    
}


.textarea{
    display: flex;
    margin: auto;
    width: 50%;
    height: 12vh;
    text-decoration: none;
    padding: 7%;
    border-radius: 2vh;
    outline: none;
    border: 0.2vh solid #D8D8D8;
    font-size: 1.5rem;
    
}

.textarea:hover{
    
    border: 0.2vh solid #00FF2E;
    
}

.submit:hover{
    
    color: #074609;
    background: linear-gradient(10deg, #34FF00, #0FFF16, #5AC90B);
    
}


.submit{
   text-decoration: none;
    margin-top: 3%;
    margin-bottom: 5%;
    margin-left: 2%;
    font-size: 1.4rem;
    background: linear-gradient(10deg, #34FF00, #0D9F11, #5AC90B);
    padding: 3%;
    border-radius: 1vh;
    display: flex;
    margin: auto;
    width: 40%;
    border: none;
    justify-content: center;
    cursor: pointer;
    color: white;
    font-weight: bold;    
    
}
 
.read-btn{
    font-size: 1.5rem;
    display: flex;
    margin: auto;
    text-decoration: none;
    background: #0816AE;
    color: white;
    padding: 3%;
    width: 40%;
    justify-content: center;
    font-family: none;
    margin-top: 6%;
    border-radius: 1vh;
    box-shadow: 10px 10px 10px rgba(0.5, 0.5, 0.5, 0.5);
}
    
.blog-div{
    
    box-shadow: 10px 10px 10px rgba(0.4, 0.4, 0.4, 0.4);
    background: #070D4E;
    color: white;
    margin-left: 5%;
    padding: 4%;
    width: 40%;
    margin-left: 25%;
    margin-right: 25%;
    height: 50%;
    border-radius: 1vh;
    margin-right: 5%;
    margin-top: 8%;
}


.contact-info:hover{
    
    border: 0.2vh solid #00FF2E;
    
}


      
.button:hover{
    
    color: #0008A2;
    
}

.button{
   box-shadow: 10px 10px 10px rgba(0.2, 0.2, 0.2, 0.2);
    text-decoration: none;
    display: flex;
    margin: auto;
    margin-left: 8%;
    margin-top: 6%;
    justify-content: center;
    margin-bottom: 6%;
    padding: 2%;
    width: 15%;
    justify-content: center;
    background: linear-gradient(10deg, #34FF00, #27AE04, #5AC90B);
    font-size: 1.2rem;
    font-weight: bold;
    font-family: none;
    color: white;
    border-radius: 1vh;
}
.footer-btn{
    justify-content: center;
    text-decoration: none;
    color: #02FF65;
    font-family: none;
    display: flex;
    margin: auto;
    font-size: 1.5rem;
    padding: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
    font-weight: bold;
}
.footer-paragraph{
    margin-top: 9%;
    color: white;
    text-align: center;
    font-family: none;
    font-size: 1.5rem;
}
.flex-footer-btn{
    justify-content: center;
    text-decoration: none;
    color: #02FF65;
    font-family: none;
    display: flex;
    margin: auto;
    font-size: 1.5rem;
    padding: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
    font-weight: bold;
}

.ok-btn{
    text-decoration: none;
    margin-top: 2%;
    margin-bottom: 6%;
    margin-left: 2%;
    font-size: 55%;
    background: #02EC59;
    padding: 4%;
    border-radius: 1vh;
    display: flex;
    margin: auto;
    width: 30%;
    border: none;
    justify-content: center;
    cursor: pointer;
    color: #000;
    font-weight: bold;  
    
}
  
.download-image2{
    
    width: 7%;
    padding: 2%;
    margin-top: 4%;
    margin-bottom: 4%;
    
    
}

.alert-paragraph{
    font-size: 58%;
    font-family: none;
    margin-left: 9%;
    margin-right: 9%;
    
    
}

.alert-paragraph2{
    font-size: 50%;
    margin-top: 4%;
    font-family: none;
    margin-left: 9%;
    margin-right: 9%;
    color: #47474D; 
    
}
 
.alert-box{
    box-shadow: 4px 4px 8px rgba(0, 1, 1, 1);
    background: #FFFFFF;
    position: absolute;
    top: 5%;
    left: 25%;
    right: 25%;
    padding: 3%;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 1.5vh;
    
}
  
.download-btn{
    font-size: 1.5rem;
    display: flex;
    box-shadow: 10px 10px 10px rgba(0.2, 0.2, 0.2, 0.2);
    width: 40%;
    margin: auto;
    font-weight: bold;
    color: white;
    border-radius: 0.8vh;
    margin-bottom: 2%;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    font-family: none;
    background: #062DC4;
    padding: 2%;
}

.download-btn:hover{
    background: #08195C;
    
}

.download-btn2{
    
    font-size: 1.5rem;
    display: flex;
    box-shadow: 10px 10px 10px rgba(0.2, 0.2, 0.2, 0.2);
    width: 40%;
    margin: auto;
    font-weight: bold;
    color: white;
    margin-top: 3%;
    border-radius: 0.8vh;
    margin-bottom: 2%;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    font-family: none;
    background: linear-gradient(10deg, #34FF00, #27AE04, #5AC90B);
    padding: 2%;

    
    
}

.download-btn2:hover{
    
    background: linear-gradient(10deg, #4BAE04, #337206, #1F4007);
    color: #70FF0A;
    
} 
  
.next-page{

    text-align: center;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin-top: 10%;
    margin-bottom: 5%;
    color: #FF0000;
}
  
.content2{
    font-size: 70%;
    font-family: none;
    text-decoration: none;
    color: #0731A6;
    border-bottom: 1px solid #0731A6;
}
  
.li2{
    font-size: 2rem;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 10%;
    margin-right: 10%;
    
    
}

.heading{
   font-size: 2rem;
    text-align: center;
    margin-top: 6%;
    margin-bottom: 5%;
    text-align: center;
    
}

.heading3{
    box-shadow: 20px 20px 20px rgba(0.1, 0.1, 0.1, 0.1);
    font-size: 72%;
    color: red;
    text-align: center;
    margin-top: 6%;
    margin-bottom: 5%;
    border-radius: 1vh;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    padding: 2%; 
}
.heading4{
    font-size: 75%;
    text-align: center;
    margin-top: 6%;
    margin-bottom: 5%;
    text-align: center;
    color: red;
} 
.heading2{
    font-size: 72%;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 6%;
    margin-bottom: 5%;
    text-align: center;
}  
.paragraphpolicy{
   font-size: 1.2rem;
   font-family: none;
   margin-left: 7%;
   margin-right: 9%;
   line-height: 1.7;
}

.paragraph404{
   font-size: 1.5rem;
   font-family: none;
   color: #4C4C51;
   margin-left: 10%;
   margin-right: 10%;
   text-align: center;
    
}


.content-div{
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 3%;
    border-radius: 1.5vh;
    border: 0.1vh solid #CECECE;
    box-shadow: 10px 10px 10px rgba(0.2, 0.2, 0.2, 0.2);
}  
.next-page-btn{
    margin-left: 2%;
    margin-top: 4%;
    text-decoration: none;
    border: 0.1rem solid #000DFF;
    font-size: 1.3rem;
    font-family: none;
    color: #000;
    font-weight: bold;
    text-align: center;
    padding: 1%;
    border-radius: 1.5vh;
    width: 15%;
    box-shadow: 10px 10px 10px rgba(0.2, 0.2, 0.2, 0.2);
}

.next-page-btn:hover{
   
    border: 0.1rem solid #091057;
    color: #2900FF;
    
}

.next-page-btn2:hover{
      
    border: 0.1rem solid #710606;
    color: #FF0000;
}

.next-page-btn3:hover{
   
    border: 0.1rem solid #091057;
    color: #2900FF;
    
}

.next-page-btn4:hover{
      
    border: 0.1rem solid #710606;
    color: #FF0000;
}



.next-page-btn3{
    
    margin-top: 4%;
    text-decoration: none;
    border: 0.1rem solid #000DFF;
    font-size: 1.3rem;
    font-family: none;
    color: #000;
    font-weight: bold;
    text-align: center;
    padding: 1%;
    border-radius: 1.5vh;
    width: 15%;
    box-shadow: 10px 10px 10px rgba(0.2, 0.2, 0.2, 0.2);
    
}
.next-page-btn4{
    
  margin-top: 4%;
    text-decoration: none;
    border: 0.1rem solid #FF0000;
    font-size: 1.3rem;
    font-family: none;
    color: #000;
    font-weight: bold;
    text-align: center;
    padding: 1%;
    border-radius: 1.5vh;
    width: 15%;
    box-shadow: 10px 10px 10px rgba(0.2, 0.2, 0.2, 0.2);
    
}

.next-page-btn2{
    margin-right: 2%;
    margin-top: 4%;
    text-decoration: none;
    border: 0.1rem solid #FF0000;
    font-size: 1.3rem;
    font-family: none;
    color: #000;
    font-weight: bold;
    text-align: center;
    padding: 1%;
    border-radius: 1.5vh;
    width: 15%;
    box-shadow: 10px 10px 10px rgba(0.2, 0.2, 0.2, 0.2);
    
}

 
.next-page-div{
    display: flex;
    margin: auto;
    justify-content: center;
}

  
.play-beat{
    font-size: 1.2rem;
    box-shadow: 7px 7px 7px rgba(0.2, 0.2, 0.2, 0.2);
    display: flex;
    width: 30%;
    color: white;
    border-radius: 1vh;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 3%;
    margin-left: 4%;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    font-family: none;
    background: linear-gradient(10deg, #1307E6D1, #1E00FFD1, #1F12FAD1);
    padding: 2%;
    
}
  
  .about-paragraph{
   font-size: 1rem;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    color: #3E3E3E;
    margin-left: 3.5%;
    font-family: none;
}

.views{
    font-size: 1rem;
    margin-left: 3%;
    color: #0008A2;
    border: 0.2vh solid #0029FF;
    padding: 1%;
    border-radius: 2vh;
    font-weight: bold;
    font-family: none;
    margin-bottom: 2%;
}
.likes{
    font-size: 1rem;
    margin-left: 3%;
    color: #0008A2;
    border: 0.2vh solid #0029FF;
    padding: 1%;
    border-radius: 2vh;
    font-weight: bold;
    font-family: none;
    margin-bottom: 2%;
}
   .about-instrumental{
    margin-top: 3%;
    display: flex;
    padding: 2%;  
}    
.title-beat{
    margin-right: 20%;
    margin-left: 5%;
    margin-bottom: 5%;
    font-size: 1.2rem;
    color: #1302BA;    
}   
.content-btn2{ 
font-size: 1.5rem;
 font-family: none;
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 3%;
  width: 88%;
  display: flex;
  border-top: 2.2px solid #C7C7C7;
  border-bottom: 1.2px solid #C7C7C7;
}

.content-btn3:hover{ 
    background: #d4d4d4;  
}

.content-btn:hover{
    
    background: #d4d4d4;
    
}

.content-btn2:hover{
    
    background: #d4d4d4;
    
}

.content-btn3{
    
    font-size: 1.5rem;
    font-family: none;
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 3%;
  width: 88%;
  display: flex;
  border-top: 1.2px solid #C7C7C7;
  border-bottom: 2.2px solid #C7C7C7;
    
}

.content-btn{
    
font-size: 1.5rem;
font-family: none;
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 3%;
  width: 88%;
  display: flex;
  border-top: 1.2px solid #C7C7C7;
  border-bottom: 1.2px solid #C7C7C7;
    
}

.download-image{
    background: none;
    margin-left: 8%;
    font-weight: bold;
    margin-bottom: 4%;
    font-size: 3.3rem;
    border: none;
    margin-bottom: 4%;
    color: red;
}
    
.div{
    display: none;
    position: absolute;
    width: 35%;
    right: 0;
    top: 5%;
    height: 100vh;
    overflow-y: auto;
    background: white;
    padding: 1%;
    border-right: 1px solid #979797;
}

.youtube-video{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 3%;
    width: 90%;
    height: 90%;

} 

.li3{
    font-size: 1.3rem;
    margin-left: 12%;
    margin-right: 9%;
    font-family: none;
    margin-top: 5%;
    margin-bottom: 3%;
}

.footer-div{
    
    background: #0E0430;
    padding: 4%;
    
}


.instrumental-div{
    border: 0.1vh solid #DBDBDB;
    margin-top: 3.8%;
    width: 50%;
    margin-left: 25%;
    margin-right: 20%;
    margin-bottom: 3%;
    border-radius: 1vh;
    padding: 1%;
    aspect-ratio: 16 / 9;
} 

.get-btn{
    display: flex;
    margin: auto;
    justify-content: center;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 1.2%;
    text-decoration: none;
    font-size: 1.3rem;
    width: 33%;
    background: white;
    color: black;
    font-weight: bold;
    border-radius: 1.5vh; 
    
}

.get-btn:hover{
    color: black;
    background: none;
    border: 0.1vh solid white;
}

.nav-btn{
    text-decoration: none;
    margin-left: 6%;
    color: black;
    background: none;
    border-radius: 5vh;
    border: none;
    font-weight: bolder;
    margin-right: 5%;
    width: 8%;
    cursor: pointer;
    font-size: clamp(1.5rem, 3vw, 3rem);
    padding: 0.7%;
}

.nav-btn:hover{
    color: #ff9900;
}

.logodiv{
    position: sticky; top: 0;
    padding: 0.1%;
    border-bottom: 1px solid #979797;
    background: white;
    
}

.paragraphpolicy2{
   font-size: 1.3rem;
   font-family: none;
   margin-left: 14%;
   margin-right: 9%;
   color: #363636;
   line-height: 1.7;
    
}
 
.logo2{
    font-weight: bold;
    color: blue;
    font-size: 1rem;
}

.logo{
    color: blue;
    font-size: 1.4rem;
    font-weight: bold;
    font-weight: bold;
    margin-top: 1%;
    margin-left: 4%;
    text-decoration: none;
    cursor: none;

}
   .paragraph{
    font-size: 1.3rem;
    margin-left: 15%;
    margin-right: 15%;
    line-height: 1.7;
}

.titleparagraph{
    font-size: 2rem;
    text-align: center;
    text-align: center;
    margin-top: 3%;
    color:  black;
    margin-bottom: 3%;
    margin-left: 8%;
    margin-right: 8%;
    font-weight: bold;
}

.content-div2{
    text-align: center;
    margin-bottom: 5%;
    padding: 6%;
    margin-left: 12%;
    margin-right: 12%;
    border-radius: 2vh;
    text-align: center;
    background: #FC5D00;
    color: white;
    margin-top: 4%;
}



  }

/*  THE CODE ENDS HERE */
